{% extends 'UserBundle::layout.html.twig' %}
{% block body %}


<nav class="navbar navbar-default navbar-map">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <div class="brand"><a class="navbar-brand" href="./"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><b>  CITYGUESS'R</b></a>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        <li class="btn-deconnexion">
          <a href="./" class="txt-nav-bar"><span class="glyphicon glyphicon-off"></span>  Se déconnecter</a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
                                
                <li class="dropdown">
          <a href="#" class="txt-nav-bar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Mon profil<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" class="ss-menu">Mes paramètres</a></li>
            <li><a href="#" class="ss-menu">Mes jeux</a></li>
            <li><a href="#" class="ss-menu">Mes cartes</a></li>
            <li><a href="#" class="ss-menu">Mes challenges</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" class="ss-menu">Se déconnecter</a></li>
          </ul>
        		</li>

      </ul>
      <ul class="nav navbar-nav">
                <li><a href="#" class="txt-nav-bar"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span> Equipe</a></li>
      </ul>
      <ul class="nav navbar-nav">
                <li><a href="#" class="txt-nav-bar"><span class=" glyphicon glyphicon-bookmark"></span> Classement</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


	<div id="map" class="map"></div>
	<div id="data">
		{% for place in places %}
			{{ place.lat }} {{ place.lon }}<br/>
		{% endfor %}
	</div>
	<script type="text/javascript">
		var markericon = "{{ asset('img/marker.png') }}"
		var places = [];
		{% set i = 0 %}
		{% for place in places %}
			places[{{ i }}] = [{{ place.lat }} , {{ place.lon }}, "{{ place.id }}" ];
			{% set i = i+1 %}
		{% endfor %}
		var path = "{{ path('place_informations', {'id': 0 }) }}"
	</script>
	<script type="text/javascript" src="{{ asset('js/map.js') }}"></script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY8T5nfMVq4_B-CS16WbEJbS5YY1_Lvl8&callback=initMap"
    async defer></script>


{% endblock %}