{% extends 'UserBundle::layout.html.twig' %}
{% block body %}
	<div class="col-md-4 col-md-offset-4 teamlist">
		<h3>Mon équipe actuelle</h3>
		<p>Pseudo: {{ user.username }}</p>
		<p>Nom de votre équipe: {{ team.name }}</p>
		{% if team.name != 'Aucune' %}<p>Score total de l'équipe: {{ team.score }} pts</p>{% endif %}
	</div>
	<div class="col-md-2 col-md-offset-5">
		<a href="{{ path('user_map') }}" class="btn btn-default btn-retour">retour à la carte</a>
	</div>
	<div class="col-md-4 col-md-offset-4 teamlist">
		<h4>Changer d'équipe</h4>
		<form action="{{ path('addteam') }}" method="post">
			<input name="newteam"/>
			<input type="submit" value="Créer"/>
		</form>
	<div>
{% endblock %}